/* ===========================
   timepicker 面板进入动画
   来源: transition-timepicker
=========================== */
@keyframes timepicker-fade-in {
  0% {
    transform: translateY(-200px);
    z-index: -999;
  }

  100% {
    transform: translateY(0);
    z-index: 0;
  }
}

@keyframes timepicker-fade-up {
  0% {
    transform: translateY(200px);
    z-index: -999;
  }

  100% {
    transform: translateY(0);
    z-index: 0;
  }
}
